/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ropa+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    letter-spacing: 1px;
}
html {
    scroll-behavior: smooth;
}
.list-box {
    @apply flex flex-col flex-auto border-r border-gray-light
}
.main-list {
    @apply pl-4 md:py-2 bg-gray-dark py-1 text-white hover:bg-gray-light hover:text-gray-dark
}
.sub-list {
    @apply bg-green text-white py-2 pl-8 hover:bg-gray-light hover:text-gray-dark
}
.header-svg {
    @apply flex flex-col text-white items-center h-20 justify-center
}

.header-main-item {
    @apply text-lg text-white lg:m-4 m-2 tracking-widest
}
/* Variable */

:root {

    /* Color */
    --first-color: #28342a;
    --cont-color: #28342a;
    --title-color: black;
    --text-color: black;
    --text-color-sup: grey;
    --button-color: black;
    --input-color: black;
    --body-color: black;
    --white-color: black;
    --scroll-bar-color: black;
    --scroll-thumb-color: black;

    /* Font and Typography */

    --body-font: ;
    --title-font: ;
    --biggest-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --tiny-font-size: ;

    /* Font Weight */ 

    --font-medium: ;
    --font-semi-bold: ;

    /* Size */
    --xlarge-size: 1.5rem;
    --large-size: 1.25rem;
    --medium-size: 1.1rem;
    --normal-size: 1rem;
    --small-size: .85rem;
    --xsmall-size: .70rem;
    --tiny-size: .35rem;

    /* Hover OverPlay */ 

    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.2);
}

input, textarea {
    outline: none;
    font-family: 'Roboto', sans-serif !important;
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Color */
        --first-color: #0C3C10;
        --cont-color: black;
        --title-color: black;
        --text-color: black;
        --text-color-sup: grey;
        --button-color: black;
        --input-color: black;
        --body-color: black;
        --white-color: black;
        --scroll-bar-color: black;
        --scroll-thumb-color: black;

        /* Font and Typography */

        --body-font: ;
        --title-font: ;
        --biggest-font-size: ;
        --h1-font-size: ;
        --h2-font-size: ;
        --h3-font-size: ;
        --normal-font-size: ;
        --small-font-size: ;
        --tiny-font-size: ;

        /* Font Weight */ 

        --font-medium: ;
        --font-semi-bold: ;

        /* Size */
        --xlarge-size: 1.5rem;
        --large-size: 1.25rem;
        --medium-size: 1.1rem;
        --normal-size: 1rem;
        --small-size: .85rem;
        --xsmall-size: .70rem;
        --tiny-size: .35rem;

        /* Hover OverPlay */ 

        --img-transition: .3s;
        --img-hidden: hidden;
        --img-scale: scale(1.2);
    }
    
}

@media only screen and (max-width: 768px) {
    :root {
        /* Color */
        --first-color: #0C3C10;
        --cont-color: black;
        --title-color: black;
        --text-color: black;
        --text-color-sup: grey;
        --button-color: black;
        --input-color: black;
        --body-color: black;
        --white-color: black;
        --scroll-bar-color: black;
        --scroll-thumb-color: black;

        /* Font and Typography */

        --body-font: ;
        --title-font: ;
        --biggest-font-size: ;
        --h1-font-size: ;
        --h2-font-size: ;
        --h3-font-size: ;
        --normal-font-size: ;
        --small-font-size: ;
        --tiny-font-size: ;

        /* Font Weight */ 

        --font-medium: ;
        --font-semi-bold: ;

        /* Size */
        --xlarge-size: 1.5rem;
        --large-size: 1.25rem;
        --medium-size: 1.1rem;
        --normal-size: 1rem;
        --small-size: .85rem;
        --xsmall-size: .70rem;
        --tiny-size: .35rem;

        /* Hover OverPlay */ 

        --img-transition: .3s;
        --img-hidden: hidden;
        --img-scale: scale(1.2);
    }
    
}


@media only screen and (max-width: 512px) {
    :root {
        /* Color */
        --first-color: #0C3C10;
        --cont-color: black;
        --title-color: black;
        --text-color: black;
        --text-color-sup: grey;
        --button-color: black;
        --input-color: black;
        --body-color: black;
        --white-color: black;
        --scroll-bar-color: black;
        --scroll-thumb-color: black;

        /* Font and Typography */

        --body-font: ;
        --title-font: ;
        --biggest-font-size: ;
        --h1-font-size: ;
        --h2-font-size: ;
        --h3-font-size: ;
        --normal-font-size: ;
        --small-font-size: ;
        --tiny-font-size: ;

        /* Font Weight */ 

        --font-medium: ;
        --font-semi-bold: ;

        /* Size */
        --xlarge-size: 1.5rem;
        --large-size: 1.25rem;
        --medium-size: 1.1rem;
        --normal-size: 1rem;
        --small-size: .85rem;
        --xsmall-size: .70rem;
        --tiny-size: .35rem;

        /* Hover OverPlay */ 

        --img-transition: .3s;
        --img-hidden: hidden;
        --img-scale: scale(1.2);
    }
    
}

@media only screen and (max-width: 384px) {
    :root {
        /* Color */
        --first-color: #0C3C10;
        --cont-color: black;
        --title-color: black;
        --text-color: black;
        --text-color-sup: grey;
        --button-color: black;
        --input-color: black;
        --body-color: black;
        --white-color: black;
        --scroll-bar-color: black;
        --scroll-thumb-color: black;

        /* Font and Typography */

        --body-font: ;
        --title-font: ;
        --biggest-font-size: ;
        --h1-font-size: ;
        --h2-font-size: ;
        --h3-font-size: ;
        --normal-font-size: ;
        --small-font-size: ;
        --tiny-font-size: ;

        /* Font Weight */ 

        --font-medium: ;
        --font-semi-bold: ;

        /* Size */
        --xlarge-size: 1.5rem;
        --large-size: 1.25rem;
        --medium-size: 1.1rem;
        --normal-size: 1rem;
        --small-size: .85rem;
        --xsmall-size: .70rem;
        --tiny-size: .35rem;

        /* Hover OverPlay */ 

        --img-transition: .3s;
        --img-hidden: hidden;
        --img-scale: scale(1.2);
    }
    
}  
